
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand newspaper-font" href="/">Связной + </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-0">
      <li class="nav-item">
        <a class="nav-link" href="/">Дом <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="far fa-newspaper"></i> Actions
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/saved"><i class="far fa-newspaper"></i> Просмотр сохраненных телефонов</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/scrape/all"><i class="fas fa-flag-usa"></i> Все смартфоны</a>
          <a class="dropdown-item" href="/scrape/huawei"><i class="fas fa-shopping-basket"></i> Huawei</a>
          <a class="dropdown-item" href="/scrape/honor"><i class="fas fa-user-astronaut"></i> Honor</a>
          <a class="dropdown-item" href="/scrape/apple"><i class="fas fa-plane-departure"></i> Apple</a>
          <a class="dropdown-item" href="/scrape/samsung"><i class="fas fa-glass-martini-alt"></i> Samsung</a>
        </div>
      </li>
    </ul>

  </div>
</nav>
